
.wrapper
  = render 'shared/side_bar'
  .main-contents
    .main-header
      .main-header__left-box
        %p.main-header__left-box__current-box 
          = @group.name
        %ul.main-header__left-box__menber-list
          Member : 
          - @group.users.each do |user|
            %li.main-header__left-box__member-list__member
            = user.name
      = link_to "Edit", edit_group_path(@group), method: :get, class: "edit-btn"
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        .input-box
          = f.label :image, class: "upload-label" do
            .fa.fa-picture-o
            = f.file_field :image, class: 'input-box__image'
        = f.submit "Send", class: "submit-btn"

      