
.wrapper
  = render 'shared/side_bar'
  .main-contents
    .main-header
      .main-header__left-box
        %p.main-header__left-box__current-box 
          sample
        %ul.main-header__left-box__menber-list
          Member :
          %li.main-header__left-box__member-list__member
            seo
          %li.main-header__left-box__member-list__member
            neko
      %input.edit-btn{name: "edit", type: "submit" , value: "Edit"}
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        .input-box
          = f.label :image, class: "upload-label" do
            .fa.fa-picture-o
            = f.file_field :image, class: 'input-box__image'
        = f.submit "Send", class: "submit-btn"

      